<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share-Mates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/main.css">
      
</head>

<body>     
        
    <div class="container ">        
        <div class="row my-container">
            <div class="col-md-12 col-sm-12 header text-center align-middle">
                <span class = "align-middle">Share-Mates</span>             
            </div>
        </div>
        <div class = "row empty"> </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 item ">
                    <a href = "{{url_for('tree')}}"><img src="../static/tree.jpg" class="img-fluid img" alt="Responsive image"></a>
            </div>
            <div class="col-md-4 col-sm-4 item ">
                     <a href = "{{url_for('food')}}"> <img src="../static/food.jpg" class="img-fluid img" alt="Responsive image"> </a>
            </div>
            <!-- <div class="col-md-4 col-sm-4  align-middle item"  >
                    <a href = "{{url_for('clothes')}}"><img " src="../static/clothes.jpg" class="img-fluid img" "alt="Responsive image"></a>
            </div> -->
        </div>      
    </div>
</body>
</html>
