<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share-Mates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/deforestation.css">

</head>

<body>

    <div class="container ">

      <div class = "row">

                <div class="col-md-12 col-sm-12">
                        <img src="../static/treeAmt.jpg" class="img-fluid img" alt="Responsive image">
              </div>
     </div>

     <div class="row">
            <div class="col-md-12 col-sm-12 header text-center align-middle">

                <div>
                  One Tree $10.00.
                </div>

            </div>
        </div>

        <div class= "row form-action">
           
                  <div class="form-group">
                    <input type="text" class= "tex" name="amount" placeholder="Quantity to Donate">
                    <a href = "{{url_for('treeConfirmation')}}">
                    <input type="submit" value="Submit"></a>
                  </div>
                
        </div>
    </div>
</body>
</html>
