<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share-Mates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/food.css">
        <script src="../static/func.js"></script>
      
</head>

<body>     
    
    <div class="container ">    
         
      <div class = "row">
            
                <div class="col-md-12 col-sm-12">
                        <img src="pictures/pizza.png" class="img-fluid img" alt="Responsive image">
              </div>
     </div>
 
     <div class="row">
            <div class="col-md-12 col-sm-12 header text-center align-middle">
                <span class = "align-middle">How many Pies do you want to donate?</span>             
            </div>
        </div>
       
        <div class= "row form-action">
                <form action="/action_page.php">

                    <input type="text" class= "tex" name="amount" value="1">
                    <br>
                    <div class= "sub">
                            <input type="submit" value="Submit">

                    </div>
                   
                </form> 
        </div>
        <button onclick="homePage()">Back to Home</button>
       
        
             
    </div>
</body>
</html>