<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Share-Mates</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/food.css">
</head>

<body>
	<div class="container ">

      <div class = "row">
        <table class="table" border = 1>
         {% for key, value in result.items() %}

           {% if key == 'Total Order' %}
           <tr>
             <th> {{ key }} </th>
             <td> {% for item in value %}
             <p> {{ item.Name}} (Product Code: {{item.ProductCode}})</p>
             {% endfor %}
           </td>
           </tr>

           {% elif key== 'Tweet' %}
           <th> {{ key }} </th>
           <td> <a href={{value.link}}>{{ value.text }} </a></td>
           {% else %}

           <tr>
              <th> {{ key }} </th>
              <td> {{ value }} </td>
           </tr>
           {% endif %}

         {% endfor %}
      </table>

      	 <a href="{{url_for('complete')}}"><div class="col-md-12 col-sm-12">
      	 	Confirm
      	 </div></a>
      </div>
  </div>
</body>
